*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
/.idea/httpRequests/
/.idea/dataSources/
/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dictionaries/
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deviceManager.xml
/.idea/copilot.data.migration.agent.xml
/.idea/markdown.xml
/.idea/migration.xml
/.idea/vcs.xml
/.idea/.name
/.idea/AndroidProjectSystem.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
